@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital@1&display=swap");
* {
  font-family: "Barlow Condensed", sans-serif;
}

body {
  margin: 0;
}

.perfil {
  color: white;
  border-radius: 0 0px 20px 20px;
  -webkit-box-shadow: 0px 9px 19px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 9px 19px 0px rgba(0, 0, 0, 0.75);
  background: #7400b8ff;
  padding: 40px 10px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.perfil img.img-perfil {
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 200px;
}

.perfil h1 {
  color: #80ffdbff;
}

.perfil h1:hover {
  color: #4ea8deff;
}

.perfil p.sobre {
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
}

.perfil .perfil-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 700px) {
  .perfil .perfil-icons {
    width: 35vw;
  }
}

.perfil .perfil-icons i {
  color: whitesmoke;
  padding: 10px;
  -webkit-transition: 0.3s -webkit-transform;
  transition: 0.3s -webkit-transform;
  transition: 0.3s transform;
  transition: 0.3s transform, 0.3s -webkit-transform;
}

.perfil .perfil-icons i:hover {
  color: #4ea8deff;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.portfolio .portfolio-header {
  margin: 10px;
  border-radius: 0 0 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
}

.portfolio .portfolio-header h4 {
  font-size: 60px;
  line-height: 0px;
  margin-bottom: 40px;
  margin-top: 40px;
  color: #242424;
}

.portfolio .trabalhos {
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 30px 10px;
      grid-template-areas: ". .";
}

@media (min-width: 900px) {
  .portfolio .trabalhos {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: ". . . ";
  }
}

@media (min-width: 1300px) {
  .portfolio .trabalhos {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: ". . . .";
  }
}

.portfolio .trabalhos .card {
  background: #7400b8ff;
  border-radius: 5px;
}

.portfolio .trabalhos .card img {
  height: 200px;
  width: 100%;
  border-radius: 5px 5px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio .trabalhos .card .body {
  padding: 10px;
}

.portfolio .trabalhos .card .body .titulo {
  color: #80ffdbff;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  margin-top: 10px;
  line-height: 0;
}

.portfolio .trabalhos .card .body .descricao {
  color: whitesmoke;
  text-align: justify;
}

.portfolio .trabalhos .card .body .abrir {
  background: #56cfe1ff;
  border: none;
  padding: 5px 20px;
  color: #7400b8ff;
  font-weight: 700;
  font-size: 20px;
  border-radius: 5px;
}
/*# sourceMappingURL=style.css.map */